<h1>Form Editor</h1>

<select [(ngModel)]="inputType">
  <option value="text">Text</option>
  <option value="textarea">Text Area</option>
  <option value="radios">Radio Buttons</option>
  <option value="fillin">Fill in the blanks</option>
</select>

<button (click)="addFormElement(inputType)">
  Add form element
</button>
<hr/>

<div *ngFor="let formElement of formElements">
  <div [ngSwitch]="formElement.type">
    <h1>Form element</h1>
    <input [(ngModel)]="formElement.name"
           placeholder="name"/>
    <br/>
    <input [(ngModel)]="formElement.placeholder"
           placeholder="placeholder"/>
    <br/>
    <input [(ngModel)]="formElement.value"
           placeholder="value"/>
    <div *ngSwitchCase="'fillin'">
      <h2>Fill in the blanks</h2>
      <textarea [(ngModel)]="formElement.fillIn"></textarea>
      <h3>Preview</h3>
      <div *ngIf="formElement.fillIn">
        <span *ngFor="let t of formElement.fillIn.split('\n')">
          <span [ngSwitch]="t.startsWith('*')">
            <span *ngSwitchCase="false">
              {{t}}
            </span>
            <span *ngSwitchCase="true">
              <input placeholder="{{t.split('=')[0]}}"
                     value="{{t.split('=')[1]}}">
            </span>
          </span>
        </span>
      </div>
    </div>
    <div *ngSwitchCase="'radios'">
      <h2>Radio button group form element</h2>
      <textarea [(ngModel)]="formElement.options"
             placeholder="options"></textarea>
      <br/>
      <label>
        <input name="orientation"
               [(ngModel)]="formElement.orientation"
               type="radio"/>
        Vertical
      </label>
      <label>
        <input name="orientation"
               [(ngModel)]="formElement.orientation"
               type="radio"/>
        Horizontal
      </label>
      <h3>Preview</h3>
      <div *ngIf="formElement.options">
        <div *ngFor="let option of formElement.options.split('\n')">
          <label>
          <input type="radio"
                 name="{{formElement.name}}"/>
            <span>{{option}}</span>
          </label>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'text'">
      <h2>Text form element</h2>
      <input [(ngModel)]="formElement.size"
             placeholder="size"/>
      <h3>Preview</h3>
      <input value="{{formElement.value}}"
             placeholder="{{formElement.placeholder}}"/>
    </div>
    <div *ngSwitchCase="'textarea'">
      <h2>Textarea form element</h2>
      <input [(ngModel)]="formElement.rows"
             placeholder="rows"/>
      <br/>
      <input [(ngModel)]="formElement.columns"
             placeholder="columns"/>
      <h3>Preview</h3>
      <textarea rows="{{formElement.rows}}"
                cols="{{formElement.columns}}">{{formElement.value}}</textarea>
    </div>
  </div>
</div>
